<h1>Listing questions</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Question type</th>
    <th>Question options</th>
    <th>Survey</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.question %></td>
    <td><%= question.question_type %></td>
    <td><%= question.question_options %></td>
    <td><%= question.survey_id %></td>
    <td><%= link_to 'Show', survey_question_path(@survey, question) %></td>
    <td><%= link_to 'Edit', edit_survey_question_path(@survey, question) %></td>
    <td><%= link_to 'Destroy', [@survey, question], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_survey_question_path %>
