<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @question.question %>
</p>

<p>
  <b>Question type:</b>
  <%= @question.question_type %>
</p>

<p>
  <b>Question options:</b>
  <%= @question.question_options %>
</p>

<p>
  <b>Survey:</b>
  <%= @question.survey_id %>
</p>


<%= link_to 'Edit', edit_survey_question_path(@survey, @question) %> |
<%= link_to 'Back', survey_questions_path %>
